body{
    font-family: "Merriweather";
    text-align: center;
    background-color: azure;
    padding: 0px 0;
}
h1 {
    margin: 0px auto;
    color: #06283D;
    width: 296px;
    height: 50px;
    background-color: #47B5FF;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.tarjeta-de-pokepon{
    font-size: 12px;
    margin: 4px;
    width: 95px;
    height: 95px;
    background: #1363DF;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 100%;
}
.tarjeta-de-pokepon img{
    width: 80px;
}
.botones-seleccionar-mascota{
    display: none;
}
.botones-seleccionar-mascota:checked + label{
    background-color: blue;
}
.tarjetas{
    font-weight: bolder;
    display: flex;
    color: white;
    gap: 0px;
}
#buttSeleccionar{
    font-family: "Merriweather";
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background: #47B5FF;
    border: 1px solid black;
}
#mensajes-resultado{
    border: 1px solid black;
    width: 128px;
    height: 28px;
    margin: 10px auto;
    padding-top: 2px;
    padding-right: 2px;
    border-radius: 10px;
    color: gold;
    background: blue;
    box-sizing: border-box;
    text-align: center;
}
#resultado-de-batalla{
    margin: 0 auto;
}
#div-mensajes-combate{
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.tdvidas{
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
th,td {
    border: solid 5px blue;
    padding: 1px;
}
.ataques-tabla{
    width: 168px;
    height: 15px;
    overflow: auto;
    box-sizing: border-box;
}
.celdaVictorias{
    width: 50px;
    height: 15px;
    overflow: auto;
    box-sizing: border-box;
}
@media (min-width:1080px){
    body{
        width: 600px;
        font-family: "Merriweather";
        text-align: center;
        background-color: azure;
        padding: 0px 0;
        margin: 0 auto;
    }

}